body{
    display:flex ;
    justify-content: center;
}
#t{
    position: absolute;
    top: 50px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    width: 100px;
    height: 40px;
    background-color: rgb(19, 239, 239);

}
img{
    border: 1px sol;
}